<htlm>
    <head>
        <style>
            #TauxDeRemplissage{
                height: 15pt;
                width: 300pt;
            }


        </style>

        

        <script type="text/javascript" src="animation.js"></script>
        <script>

            //document.getElementById("").value
            //Math.random()*100

            var nlines=30;
            var ncolumns=35;
            var L=[];
            var canvas;
            var ctx;
            var running=false;


            function init(){
                canvas = document.getElementById("canvasJeu");
                ctx = canvas.getContext("2d");
                RemplirL(0);
                TraceGrille();
            }

            function TraceGrille(){
                var dx=canvas.width/ncolumns;
                for (var i=0;i<=ncolumns;i++){
                    ctx.beginPath();
                    ctx.moveTo(dx*i,0);
                    ctx.lineTo(dx*i,canvas.height);
                    ctx.strokeStyle="black";
                    ctx.stroke();

                }
                var dy=canvas.height/nlines;
                for (var i=0;i<=nlines;i++){
                    ctx.beginPath();
                    ctx.moveTo(0,dy*i);
                    ctx.lineTo(canvas.width,dy*i);
                    ctx.strokeStyle="black";
                    ctx.stroke();
                }

                for (var y=0;y<nlines;y++){
                    for (var x=0;x<ncolumns;x++){
                        TraceCarre(x,y);
                        
                    }
                }

            }

            function TraceCarre(x,y){
                var dx=canvas.width/ncolumns;
                var xp=x*dx;
                var dy=canvas.height/nlines;
                var yp=y*dy
                if(L[y][x]==1){
                    ctx.fillStyle='black';
                    ctx.fillRect(xp,yp,dx,dy);
                }
                if(L[y][x]==0){
                    ctx.fillStyle='white';
                    ctx.strokeStyle='black';
                    ctx.fillRect(xp,yp,dx,dy);
                    ctx.rect(xp,yp,dx,dy);
                    ctx.stroke();
                }

            }

            function EnleveCarre(x,y){
                L[y][x]=O;
            }

            function PlaceCarre(x,y){
                L[y][x]=1;
            }

            function Toggle(x,y){
                L[y][x]=1-L[y][x];
            }

            function IfClique(evt){
                var rect=canvas.getBoundingClientRect();
                var x=Math.floor((evt.clientX - rect.left)/(canvas.width/ncolumns));
                var y=Math.floor((evt.clientY - rect.top)/(canvas.height/nlines));
                Toggle(x,y);
                TraceCarre(x,y);
                //alert(Voisins(x,y))
            }

            function Voisins(x,y){
                var s=0;
                for (var i=x-1;i<=x+1;i++){
                    for (var j=y-1;j<=y+1;j++){
                        if(i!=x | j!=y){
                            if(i>=0 & j >= 0 & i<ncolumns & j<nlines){
                                s=s+L[j][i];
                            }
                        }
                    }
                }
                return s;
            }
        
            function Evolue(){
                var newL=Copie(L);
                for (var y=0;y<nlines;y++){
                    for (var x=0;x<ncolumns;x++){
                        var v=Voisins(x,y);
                        var vie=L[y][x];
                        if(vie==1){
                            if(v!=2 & v!=3){
                                newL[y][x]=0;
                            }
                        }
                        else{
                            if(v==3){
                                newL[y][x]=1;
                            }
                        }
                    }
                }
                Remplace(newL);
                TraceGrille();
                //alert("ici")
            }

            function Copie(L){
                var newL=[];
                for (var i=0;i<nlines;i++){
                    var Li=[];
                    for (var j=0;j<ncolumns;j++){
                        Li.push(L[i][j])
                    }
                    newL.push(Li)
                }
                return newL
            }

            function Remplace(Liste){
                for (var i=0;i<nlines;i++){
                    for (var j=0;j<ncolumns;j++){
                        L[i][j]=Liste[i][j]
                    }
                }
            }

            function buttonEvoluerStop(){
                stopanim();
                var duree=10000000;
                running= ! running;
                if(running){
                    function action(r){
                        if(running){
                            Evolue();
                            return true;
                        }
                        else{
                            stopanim();
                            return false;
                        }
                    }
                    function fin(){}
                    anime(action,fin,duree);
                }
            }

            function RemplissageAleatoire(){
                var Pourcentage=document.getElementById("TauxDeRemplissage").value;
                var ntotal=ncolumns*nlines;
                var naremplir=Math.floor(ntotal*Pourcentage/100);
                var n=0;
                //alert(Pourcentage);
                if(Pourcentage<=50){
                    RemplirL(0);
                    while(n<naremplir){
                        var x=Math.floor(Math.random()*ncolumns);
                        var y=Math.floor(Math.random()*nlines);
                        if(L[y][x]==0){
                            L[y][x]=1;
                            n++;
                        }
                    }
                }
                else{
                    RemplirL(1);
                    while(n<ntotal-naremplir){
                        var x=Math.floor(Math.random()*ncolumns);
                        var y=Math.floor(Math.random()*nlines);
                        if(L[y][x]==1){
                            L[y][x]=0;
                            n++;
                        }
                    }
                }
                TraceGrille();
            }

            function RemplirL(x){
                L=[];
                for (var i=0;i<nlines;i++){
                    var Li=[];
                    for (var j=0;j<ncolumns;j++){
                        Li.push(x)
                    }
                    L.push(Li)
                }
            }

            function ActualiserPourcentage(){
                var Pourcentage=document.getElementById("TauxDeRemplissage").value;
                document.getElementById("InputPourcentage").value=Pourcentage.toString();
            }

            function ChangePourcentage(){
                var Pourcentage=parseInt(document.getElementById("InputPourcentage").value);
                document.getElementById("TauxDeRemplissage").value=Pourcentage;
            }


        </script>
    </head>
    <body onload="init()">
        <h1>Jeu de la Vie</h1>
        <canvas id="canvasJeu" width=800 height=600> </canvas>
        <script type='text/javascript'>
        document.addEventListener("mousedown",IfClique,false);
        </script>

        <br>
        <button id="Evolution1" onclick="Evolue()">Evoluer une fois</button>
        <button id="Evolution_Go/Stop" onclick="buttonEvoluerStop()">Evoluer/Stop</button>
        <br>
        <button id="Hasard" onclick="RemplissageAleatoire()">Positionnement au hasard</button>
        <!-- <select id="selection_pour_bouton_hasard">
            <option>25 %</option>
            <option>50 %</option>
            <option>75 %</option>
            <option>100 %</option>
            <option>autre...</option>
        </select> -->
        <input type="range" min="0" max="100" value="50" class="slider" id="TauxDeRemplissage" step="1" onchange="ActualiserPourcentage()">
        <input id="InputPourcentage" size="2" value="50" onchange="ChangePourcentage()"></input>
        <label id="pourcent">%</label>
        <br>
        <button id="Effacer_tout" onclick="init()">Tout effacer</button>
        
            
    </body>
</htlm>